<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSS Feed</title>
    <style>
        body {
            padding: 20px;
        }

        body, a {
            color: #333;
            font-family: sans-serif;
        }

        li {
            padding: 4px 0;
        }

        .host {
            color: #888;
        }

        .time {
            color: #888;
            padding: 10px 0;
        }
    </style>
</head>
<body>
{{range $category, $items := .}}
    <h2>{{$category}}</h2>
    {{range $items}}
        <li><a href="{{.URL}}">{{.Title}}</a> <span class="host">({{.GetHost}}</span> / <span
                    class="time">{{.GetDate}})</span></li>
    {{else}}
        <h2>Nothing here...</h2>
    {{end}}
{{end}}
</body>
</html>